<h1 mat-dialog-title>ToDo List App Form</h1>
<div mat-dialog-content>
    <form [formGroup]="todoForm">
        <mat-form-field appearance="outline">
            <mat-label>Task Name</mat-label>
            <input formControlName="Name" [(ngModel)]="taskName" matInput placeholder="Enter Task Name">
        </mat-form-field>
        <mat-form-field appearance="outline">
            <mat-label>Task Description</mat-label>
            <input formControlName="Task" [(ngModel)]="taskDescription" matInput placeholder="Enter Task Description">
        </mat-form-field>
    </form>
</div>

<div class="row" *ngIf="emptyFieldErrorMessageFlag">
    Please fill up all mandatory fields
</div>
<div mat-dialog-actions [align]="'end'">
    <button mat-raised-button color="warn" mat-dialog-close>Close</button>
    <button mat-raised-button color="primary" (click)="addTask()">{{actionBtn}}</button>
</div>
